.game_1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: var(--primary_bg_color);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: var(--border_radius);
    padding: 1rem;
}

.game_title {
    text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.3);
    padding-bottom: 1rem;
    margin-bottom: 0.1rem;
    font-size: 4vw;
    text-align: center;
    border-bottom: solid 0.2rem rgba(0, 0, 0, 0.3);
}

.display_round_winner {
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
}
.display_choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: dashed 0.1rem var(--primary_bg_color);
    border-radius: var(--border_radius);
}

.choices {
    display: flex;
    gap: 2rem;
    margin-top: 0.5rem;
}

.display_result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.player_side, .computer_side {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.player_choice, .computer_choice {
    width: 20vw;
    height: 20vw;
    margin: 1rem;
    border: dashed 0.1rem var(--primary_bg_color);
    border-radius: var(--border_radius);
}

.display_score {
    display: flex;
    flex-direction: column;
}

/* 
    Note: a space targets all elements under it
          a > only targets the child directly under it
*/

.game_1 button {
    background: transparent;
}

.game_1 button:hover {
    background-color: var(--hover_bg_color);
}

.game_1 button:active {
    background-color: var(--active_bg_color);
}

.game_1 img {
    width: 6rem;
}