.nav_bar {
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    padding: 0.8rem;
    gap: 2rem;
    height: 3rem;
    align-items: center;
}

.hamburger_button_img {
    width: 2.4rem;
    filter: invert(100%);
}

.hamburger_button {
    background: var(--primary_bg_color);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: var(--border_radius);
    box-shadow: var(--box_shadow);
    padding: 0.2rem 0.5rem 0rem 0.5rem;
}

.nav_elements {
    background: var(--primary_bg_color);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: var(--border_radius);
    box-shadow: var(--box_shadow);
    height: 100%;
    align-items: center;
    position: relative;
    display: none;
}

.nav_elements > li {
    border-radius: var(--border_radius);
    background: none;
    font-size: 1rem;
    padding: 0rem 1rem 0rem 1rem;
}

.nav_elements > li > a {
    padding: 1rem;
}


.nav_elements > li > a:hover {
    background-color: var(--hover_bg_color);
}

.nav_elements > li > a:active {
    background-color: var(--active_bg_color);
}

.nav_dropdown {
    background: var(--primary_bg_color);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: var(--border_radius);
    display: none;
    position: absolute;
    top: 3.2rem;
    left: 8rem;
    box-shadow: var(--box_shadow);
}

.nav_dropdown > ul > li > a {
    padding: 1rem;
}

.apps:hover .nav_dropdown{
    display: block;
    background-color: var(--primary_bg_color);
}

button:hover {
    cursor: pointer;
}

