.calculator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: var(--primary_bg_color);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: var(--border_radius);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: var(--box_shadow);
}

button:active {
    opacity: 0.7;
}

.display {
    background-color: rgba(103, 103, 103, 0.5);
    border: solid 1px black;
    display: flex;
    flex-direction: column;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.buttons > button {
    font-size: 2rem;
    padding: 1vw;
}

.button_function {
    background-color: rgba(0, 0, 0, 0.5);
    border: solid 0.5px black;
}

.button_number {
    background-color: rgba(103, 103, 103, 0.7);
    border: solid 1px black;
}

.button_operator {
    background-color: rgba(10, 191, 236, 0.5);
    border: solid 1px black;
}

#zero {
    grid-column: span 2;
}

#text_display {
    font-size: 2rem;
    padding: 1rem 0rem 1rem 0.5rem;
}

/* #auto_result {
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;
} */