.timer {
    box-shadow: var(--box_shadow);
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--primary_bg_color);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: var(--border_radius);
    font-size: 7rem;
    text-shadow: black 2px 2px 10px;
    align-items: center;
}
.time {
    display: flex;
    padding: 2rem;
}
.timer_element {
    font-size: 8vw;
}
#hour::after, #minute::after, #seconds::after {
    content: ":";
}
.buttons {
    display: flex;
    gap: 1rem;
    padding-bottom: 2rem;
    border-radius: 30px;
}
.buttons > button {
    border-radius: 50%;
    background: var(--primary_bg_color);
    box-shadow: var(--box_shadow);
}
.buttons > button > img {
    width: 3rem;
}
button:hover {
    background-color: var(--hover_bg_color);
}
button:active {
    background-color: var(--active_bg_color);
}